<html>
    <head>Slack Messenger</head>
    <body>
        <div id="messages"></div>
        <form action="/slackmessenger" method="POST">
            <label for="message">Enter the query</label><br>
            <input type="text" id="message" name="message"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>